@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '~react-redux-toastr/lib/css/react-redux-toastr.min.css';
@import './Assets/Css/table.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sider {
  background-color: white;
  height: 100vh;
}

.logo {
  margin: 15px;
  background-color: #87c0cd;
  padding: 20px;
}

.header {
  background-color: #226597;
  padding: 0 25px;
  color: white;
}
.iconCollapse {
  font-size: 20px;
}
.content {
  background-color: #f3f9fb;
  padding: 20px;
}
.btnLogout {
  border-radius: 10px;
  background-color: #113f67;
  border: none;
  color: white;
  padding: 0 20px;
}
.containerLabelTitle {
  margin-bottom: 30px;
}
.labelTitle {
  background-color: #87c0cd;
  font-weight: 500;
  color: white;
  font-size: 30px;
  padding: 10px 30px;
}
.buttonCloseModal {
  background-color: transparent;
  border: none;
  font-size: 20px;
  position: absolute;
  right: 5px;
  top: 15px;
}
.buttonCloseModal:hover {
  background-color: transparent;
  border: none;
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  right: 5px;
  top: 15px;
}
.buttonCloseModal:focus {
  background-color: transparent;
  border: none;
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  right: 5px;
  top: 15px;
}
.headerModal {
  background: #226597;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.ant-layout.layoutModal {
  border-radius: 20px;
  background-color: white;
}
.contentModal {
  padding: 10px;
  max-height: 500px;
  overflow: auto;
}
.footerModal {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 10px !important;
  text-align: center;
  background: #ffffff;
}
.ant-input {
  width: 50%;
}
.containerButtonSubmit {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnTable{
  text-decoration: underline;
}